node_modules
.DS_STORE

#Buidler files
cache
artifacts
build

#Verifier solidity contracts
EpochKeyValidityVerifier.sol
ReputationVerifier.sol
ReputationNullifierVerifier.sol
UserStateTransitionVerifier.sol
