node_modules
.DS_STORE

#Buidler files
cache
artifacts
build

#Verifier solidity contracts
EpochKeyValidityVerifier.sol
ReputationVerifier.sol
StartTransitionVerifier.sol
ProcessAttestationsVerifier.sol
UserStateTransitionVerifier.sol
