node_modules

#Buidler files
cache
artifacts
build
mongodb

#Verifier solidity contracts
EpochKeyValidityVerifier.sol
ReputationVerifier.sol
ReputationFromAttesterVerifier.sol
UserStateTransitionVerifier.sol
