**/build
**/zksnarkBuild
**/dist
**/artifacts
**/cache
**/typechain
.github/**
**/*.md
**/generated
**/*.template.yaml

yarn.lock
.yarn
packages/contracts/coverage
abi/

packages/circuits/circuits/circomlib
