**/build
**/zksnarkBuild
**/dist
**/artifacts
**/cache
**/typechain
.github/**
**/*.md
**/generated
**/*.template.yaml
**/.docusaurus

yarn.lock
.yarn
*.yml
packages/contracts/coverage
abi/

packages/circuits/circuits/circomlib
