/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0 0rem 0;
    position: relative;
    overflow: hidden;
    background: #bae1e3;
}

.heroImage {
    width: 180%;
}

.footerImage {
    margin-top: 10px;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
    .heroImage {
        display: none;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apiButton {
    padding: 12px 24px;
    background: #234345;
    border-radius: 24px;
    color: #fcfcfc;
    font-weight: 700;
    font-size: min(16px, 3vw);
}

.titleText {
    color: #234345;
    font-weight: 900;
    font-size: min(96px, 10vw);
    line-height: 106%;
}

.subtitleText {
    color: #234345;
    font-weight: 400;
    font-size: min(20px, 3vw);
    line-height: 120%;
}
