/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* .heroBanner {
    padding: 4rem 0 0rem 0;
    position: relative;
    overflow: hidden;
    background: #bae1e3;
}

.heroImage {
    width: 180%;
}

.footerImage {
    margin-top: 10px;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
    .heroImage {
        display: none;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apiButton {
    padding: 12px 24px;
    background: #234345;
    border-radius: 24px;
    color: #fcfcfc;
    font-weight: 700;
    font-size: min(16px, 3vw);
}

.titleText {
    color: #234345;
    font-weight: 900;
    font-size: min(96px, 10vw);
    line-height: 106%;
}

.subtitleText {
    color: #234345;
    font-weight: 400;
    font-size: min(20px, 3vw);
    line-height: 120%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.badge {
    display: inline;
    margin-left: 1px;
    margin-right: 1px;
} */

h2 {
    font-size: 4rem;
    font-weight: 700;
    color: lightseagreen;
}

.subheader {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.paragraph {
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
}

.buildContainer {
    background: linear-gradient(135.45deg, #fee4cb 0%, #dbf2f2 95.26%);
    border-radius: 2rem;
    margin-top: 6rem;
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
}

.diagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .subheader {
        text-align: center;
    }

    .buildContainer {
        margin-top: 4rem;
        padding: 2rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

/* for text */

.rotatingTextWrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rotatingTextWrapper h2 {
    font-size: 2.5em;
    margin: 0;
    padding: 0.3em;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation-duration: 6s;
    animation-iteration-count: infinite;
    opacity: 0;
}
.rotatingTextWrapper h2:nth-child(1) {
    background-color: lightseagreen;
    animation-name: rotatingText1;
}
@keyframes rotatingText1 {
    0% {
        transform: translateY(200%);
    }
    33% {
        transform: translateY(100%);
        opacity: 1;
    }
    34% {
        opacity: 0;
    }
}
.rotatingTextWrapper h2:nth-child(2) {
    background-color: tomato;
    animation-name: rotatingText2;
}
@keyframes rotatingText2 {
    33% {
        transform: translateY(100%);
        opacity: 0;
    }
    66% {
        transform: translateY(0);
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
}
.rotatingTextWrapper h2:nth-child(3) {
    background-color: cornflowerblue;
    animation-name: rotatingText3;
}
@keyframes rotatingText3 {
    66% {
        transform: translateY(0);
        opacity: 0;
    }
    99% {
        transform: translateY(-100%);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
@media screen and (max-width: 576px) {
    .rotatingTextWrapper {
        font-size: 0.7rem;
    }
}
